/*------------------ INICIO CSS DE FEDERICO VALDIGLESIAS ------------------------------ */

/* header */
nav.navbar {
	background-image: linear-gradient(to top,
			rgb(49, 49, 47), rgb(27, 23, 23));
}


div.navbar-nav a {
	color: rgb(238, 235, 221);
}

div.navbar-nav a:hover {
	color: rgb(197, 192, 192);
	border-bottom: 2px solid rgb(197, 192, 192);
}


/* Logo */
img.logo-nav {
	width: 4rem;
}

/* --------------- */


/*---- foto-perfil ------ */

div.contenedor-foto-perfil img {
	width: 100%;
}

/*------------------------ */


/* modal-suscrpcion */
div.modal-suscripcion label {
	color: #010502;
}




/*----------- Inicio footer------------------- */
.derechos {
	background-color: #010502;
}

/* Imagen logo */
.logo {
	width: 5rem;
}

ul.img-contacto li img {
	width: 1.4rem;
	padding-right: 3px;
}

/* Iconos de las redes sociales  */

ul.img-redes li img {
	width: 1.8rem;
}


/* -------Fin footer --------------------------- */

@media screen and (min-width: 760px) {
	/*------ Nav-bar --------- */

	a.log-in {
		border: 1px solid rgb(129, 0, 0);
		border-radius: 17px;


		background-image: linear-gradient(to right,
				rgb(145, 14, 14),
				rgb(168, 1, 1));
	}

	a.suscripcion {
		border: white;
	}

	div.navbar-nav a.suscripcion:hover {
		color: rgb(172, 0, 0);
		border-bottom: 2px solid rgb(172, 0, 0);
	}

	/* ------------ Footer ------------------ */

	.informacion-redes-contacto {
		height: 35vh;
	}

	.contacto-redes,
	.informacion-adicional {
		max-height: 100%;
	}

	/* Quienes somos */
	div.container-quienes-somos {
		width: 60vw;
	}

	div.integrantes {
		width: 60vw;
	}

	img.logo {
		width: 8rem;
	}

	/* carrusel */

	.carousel-item {
		max-height: 78vh;
	}

	.carousel-item img {
		height: 80vh;

	}

}

/* ----------------- FIN DEL CSS DE FEDERICO VALDIGLESIAS -------------------------------- */

.menu {
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a {
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li {
	display: inline-block;
	text-align: center;
}

.menu li a:hover {
	background: #ef8354;
}

.btn {
	background-color: rgb(34, 178, 171);
}

main {
	margin: 2%;
	padding: 1%;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	margin: 0%;
	padding: 0%;

}

.ibi-header {
	font-family: cursive;
	font-size: 20px;
}

.ctn-data {
	width: 90%;
	margin: auto;
	padding: 10px;
}

.p-data {
	font-family: Arial;
	font-size: 18px;
	margin-top: 10px;
	background: rgb(20, 83, 220);
}

.ctn-ibi-comentar {
	width: 100%;
	text-align: center;
}

.ibi-comentrio {
	font-family: cursive;
	font-size: 20px;
	text-shadow: 1px 2px 1px rgb(20, 207, 220);
}


label {
	color: grey;
}

input[type="radio"] {
	display: none;
}

.clasificacion {
	direction: rtl;
	/* right to left */
	unicode-bidi: bidi-override;
	/* bidi de bidireccional */
}

label:hover {
	color: orange;
}

label:hover~label {
	color: orange;
}

input[type="radio"]:checked~label {
	color: orange;
}